body {
  margin-top: 64px;
  font-family: sans-serif;
}

h1,h3 {
  text-align: center;
}

#game {
  text-align: center;
}

#canvas {
  background-color: rgb(0,16,16);
}

div.controls {
  margin-top: 16px;
  text-align: center;
}
